extends statsBase

block content
  #add-player-profile-container
    .heading-container
      h1 Add Player Profile

    form(id="add-player-form", action=`/api/v1/players/createPlayerProfile/${squadId}`, method="POST")

      .form-group
        label(for="firstName") First Name:
        input(type="text", name="firstName", required)

      .form-group
        label(for="lastName") Last Name:
        input(type="text", name="lastName", required)

      // Add hidden input field for squadId
      input(type="hidden", name="squadId", value=squadId)

      button.form__button(type="submit") Add Player

    // Container to display success message
    #success-message(style="display: none;")
      p Player created successfully!

