extends statsBase

block content
  #dashboard-container
    h1 Dashboard
    .dashboard-grid
      .dashboard-box
        a(href="/viewSquads") View Squads
      .dashboard-box
        a(href="/gameSetup") Game Setup
      .dashboard-box
        a(href="#") Record Game
      .dashboard-box
        a(href="#") View Stats
      .dashboard-box
        a(href="#") My Profile
