extends statsBase

block content
  // image
  #image
    img(src="./img/favpng_gaelic-football-sportart-irish.png", alt="football player png")

  // content
  #content
    .reset-password-form-container
      h1.reset-password-title Reset Your Password
      p Enter your email address to receive a password reset link:
      form.forgot-password-form(action="/api/v1/users/forgotPassword", method="POST", class="forgot-password-form")
        // Add a div to display error messages
        #error-message

        .form-group
          label(for="email") Email:
          input.form__input(type="email", id="email", name="email", placeholder="you@example.com", required)

        .form-group
          input.form__button(type="submit", value="Send Reset Link")
