extends statsBase

block content
  #dashboard-container
    h1.welcome-smaller Welcome to Your Profile, #{user.firstName}!
    .dashboard-grid
      .dashboard-box
        a(href="/instructions") Instructions
      .dashboard-box
        a(href="/updatePassword") Update Password
      .dashboard-box
        a(href="#") Delete Account
      




      

    

