extends statsBase

block content
  // content
  #content
    h1 Reset Your Password
    form.reset-password-form(action=`/api/v1/users/resetPassword/${resetToken}`, method="PATCH", class="reset-password-form")
      //  div to display error messages
      #error-message

      .form-group
        label(for="password") New Password:
        input.form__input(type="password", id="password", name="password", placeholder="••••••••", required, minlength="8")

      .form-group
        label(for="passwordConfirm") Confirm New Password:
        input.form__input(type="password", id="passwordConfirm", name="passwordConfirm", placeholder="••••••••", required, minlength="8")

      // hidden input to send the reset token
      input(type="hidden", name="token", value=resetToken)

      .form-group
        input.form__button(type="submit", value="Reset Password")
