extends statsBase

block content
  .updatePassword-page
    .updatePassword-welcome
      h1.welcome-smaller Update your password here, #{user.firstName}!

    .sections-container
      .updatePassword-section
        h2.updatePassword-section-title 
        form.update-password-form(action="/api/v1/users/updateMyPassword", method="PATCH")
          label(for="currentPassword") Current Password:
          input.updatePassword-input-field(type="password", id="currentPassword", name="passwordCurrent", required)

          label(for="newPassword") New Password:
          input.updatePassword-input-field(type="password", id="newPassword", name="password", required, minlength="8")

          label(for="confirmPassword") Confirm New Password:
          input.updatePassword-input-field(type="password", id="confirmPassword", name="passwordConfirm", required, minlength="8")

          input.updatePassword-btn-update(type="submit", value="Update")

