* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

#container {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #e9e9eb;
  /* Center the dashboard on all screen sizes */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* logo */
#container #logo {
  position: absolute;
  left: 7%;
  top: 30px;
  font-size: 35px;
  z-index: 997;
  font-weight: bold;
  color: #07910b;
}

/* navbar */
#navbar {
  height: 90px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fdfefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

#navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the links horizontally */
  align-items: center; /* Center the links vertically */
  flex-grow: 1; /* Allow the links to grow and take up remaining space */
}

#navbar ul li {
  font-size: 20px;
  margin: 0 32px;
}

#navbar ul li a {
  text-decoration: none;
  color: #000;
}

#navbar ul li a:hover {
  color: #07910b;
}

/* navbar right */
#navbar-right {
  display: flex;
  align-items: center;
}

#navbar-right li {
  font-size: 20px;
  margin: 0 1px;
}

#navbar-right li a {
  text-decoration: none;
  color: white;
}

#navbar-right li a:hover {
  color: #07910b;
}

#signup,
#login {
  list-style: none;
}

#signup a,
#login a {
  text-decoration: none;
  color: white;
  background-color: #07910b;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 30px;
}

#signup a:hover,
#login a:hover {
  background-color: black;
}

#logout {
  list-style: none;
  display: flex;
  align-items: center;
}

#logout .nav__el {
  text-decoration: none;
  color: white;
  background-color: #07910b;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#logout .nav__el:hover {
  background-color: black;
}

.user-name {
  font-weight: bold;
  color: black;
  margin-right: 15px;
}
/* image */
#image {
  position: absolute;
  top: calc(60% - 100px);
  right: 10%;
  transform: translateY(-50%) rotate(20deg); /* Adjust the rotation angle as needed */
  z-index: 999;
}

#image img {
  height: 600px;
  filter: drop-shadow(-100px 0px 5px rgba(0, 0, 0, 0.5));
  transition: 0.5s;
}

#image img:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

/* content */
#content {
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 996;
}

#content h2 {
  font-size: 290px;
  color: #07910b;
  border-color: #000;
}

#content:hover h2 {
  color: #000;
  transition: 0.5s;
}

#content h4 {
  font-size: 68px;
  color: #000;
}

#content:hover h4 {
  color: #07910b;
  transition: 0.5s;
}

/* icons */
#icons {
  height: 500px;
  width: 65px;
  position: absolute;
  left: 0;
  top: calc(50% - 250px);
  background: #07910b;
  border-radius: 0 60px 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 998;
}

#icons:hover {
  background: #000;
}

#icons a {
  text-decoration: none;
  height: 40px;
  width: 40px;
  font-size: 23px;
  color: #e9e9eb;
  display: grid;
  place-items: center;
  margin: 30px 0;
}

#icons a:hover {
  color: #07910b;
}

/* pagination */
#pagination {
  position: absolute;
  bottom: 4%;
  right: 20%;
  z-index: 995;
}

#pagination a {
  text-decoration: none;
  color: #000;
  font-size: 70px;
  margin: 0 30px;
  transition: 0.5s;
}

#pagination a:hover {
  color: #07910b;
}

/* lines */
#line1,
#line2 {
  height: 140px;
  width: 60px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: skewX(-45deg);
}

#line2 {
  height: 50px;
  left: 26%;
}

/* Signup page specific styles */
.signup-form {
  max-width: 600px;
  margin: 10px auto;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.signup-form .form__group {
  margin-bottom: 10px;
}

.signup-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #fff;
  transition: border-bottom-color 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-form input[type="text"]:focus:valid,
.signup-form input[type="email"]:focus:valid,
.signup-form input[type="password"]:focus:valid {
  border-bottom-color: #55c57a; /* Green color for valid input */
  outline: none;
}

.signup-form input[type="text"]:focus:invalid,
.signup-form input[type="email"]:focus:invalid,
.signup-form input[type="password"]:focus:invalid,
.signup-form input[type="text"].invalid,
.signup-form input[type="email"].invalid,
.signup-form input[type="password"].invalid {
  border-bottom-color: #ff7730; /* Orange color for invalid input */
  outline: none;
}

.form__button {
  background-color: #07910b;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.form__button:hover {
  background-color: black;
}

/* Login page specific styles */
.login-form {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: white;
  transition: border-bottom-color 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form input[type="email"]:focus:valid,
.login-form input[type="password"]:focus:valid {
  border-bottom-color: #55c57a; /* Green color for valid input */
  outline: none;
}

.login-form input[type="email"]:focus:invalid,
.login-form input[type="password"]:focus:invalid,
.login-form input[type="email"].invalid,
.login-form input[type="password"].invalid {
  border-bottom-color: #ff7730; /* Orange color for invalid input */
  outline: none;
}

/* Dashboard page specific styles */

#dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e9e9eb;
}

/* Styles for the heading */
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 900px;
  margin: 0 auto; /* Center the dashboard grid on all screen sizes */
  padding: 0 20px; /* Add some padding to the sides on smaller screens */
}

.dashboard-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 60px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dashboard-box a {
  text-decoration: none;
  color: #000;
  font-size: 26px;
}

.dashboard-box:hover {
  background-color: #07910b;
}

.dashboard-box:hover a {
  color: #fff;
}

/* viewSquads.pug specific styles */

#squad-container {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto; /* Center the container horizontally */
}

.heading-container {
  text-align: center; /* Center the h1 element horizontally */
}

.squad-card {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  padding-right: 20px; /* Add padding on the right side to make space for the button */
  position: relative; /* Add position relative to the squad card to position the delete button */
}
.squad-card a {
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.squad-card:hover {
  background-color: #e0e0e0; /* Change the background color on hover */
}

.no-squads {
  text-align: center; /* Center the "No Squads" text horizontally */
  padding: 20px;
}

.no-squads p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* New styles for the "Create New Squad" button */
.create-squad-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 25px;
  background-color: #07910b;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.create-squad-button:hover {
  background-color: black;
}

/* New styles for the "Delete Squad" button */
.delete-squad-btn {
  position: absolute;
  top: 50%; /* Position the button in the vertical center of the squad card */
  right: 10px;
  background-color: #e93b35;
  color: #fff;
  border: none;
  border-radius: 7px; /* Adjust the border radius to make the button more rectangular */
  padding: 8px 12px; /* Add some padding to cover the text */
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(
    -50%
  ); /* Adjust the button position to be vertically centered */
  transition: background-color 0.3s ease;
}

.delete-squad-btn:hover {
  background-color: #cc0d06;
}

/* createSquad page specific styles */
#create-squad-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

#create-squad-container .heading-container {
  text-align: center;
  margin-bottom: 20px;
}

#create-squad-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#create-squad-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #fff;
  transition: border-bottom-color 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

#create-squad-container input[type="text"]:focus:valid {
  border-bottom-color: #55c57a; /* Green color for valid input */
  outline: none;
}

#create-squad-container input[type="text"]:focus:invalid,
#create-squad-container input[type="text"].invalid {
  border-bottom-color: #ff7730; /* Orange color for invalid input */
  outline: none;
}

#create-squad-container button[type="submit"] {
  background-color: #07910b;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

#create-squad-container button[type="submit"]:hover {
  background-color: black;
}

/* viewPlayers page specific styles */
#players-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#players-container .heading-container {
  text-align: center;
}

#players-container h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #07910b;
}

#players-container .no-players {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #07910b;
}

#players-container .no-players p {
  margin-bottom: 10px;
}

#players-container .add-player-button {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 12px 20px;
  background-color: #07910b;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#players-container .add-player-button:hover {
  background-color: black;
}

/* Player card styles */
.player-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-card .player-name {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.player-card .player-details {
  display: flex;
  align-items: center;
}

.player-card .player-details p {
  margin-right: 15px;
  font-size: 16px;
  color: #000;
}

.player-card .delete-button {
  padding: 8px 12px;
  background-color: #ff5050;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.player-card .delete-button:hover {
  background-color: #ff0000;
}
.scroller-container {
  height: 300px; /* Set the height of the container to control the visible area */
  overflow-y: auto; /* Enable vertical scrolling */
}

.scroller {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scroller li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Optional: Add some hover effect for the list items */
.scroller li:hover {
  background-color: #f0f0f0;
}

/* Style for the "Back to View Squad" button container */
.back-button-container {
  margin-top: 80px;
  margin-left: 590px; /* Add margin to move the button down */
}

/* Style for the "Back to View Squad" button */
.btn-custom {
  background-color: #07910b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: #060606;
}

/* Specific CSS for the addPlayerProfile Pug file */
#add-player-profile-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

#add-player-profile-container .heading-container {
  text-align: center;
  margin-bottom: 20px;
}

#add-player-profile-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#add-player-profile-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #fff;
  transition: border-bottom-color 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

#add-player-profile-container input[type="text"]:focus:valid {
  border-bottom-color: #55c57a; /* Green color for valid input */
  outline: none;
}

#add-player-profile-container input[type="text"]:focus:invalid,
#add-player-profile-container input[type="text"].invalid {
  border-bottom-color: #ff7730; /* Orange color for invalid input */
  outline: none;
}

#add-player-profile-container button[type="submit"] {
  background-color: #07910b;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

#add-player-profile-container button[type="submit"]:hover {
  background-color: black;
}

/* Style for the player's photo section */
#add-player-profile-container .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#add-player-profile-container .form-group label {
  flex-basis: 150px;
  margin-right: 10px;
}

#add-player-profile-container #photo-preview {
  max-height: 200px;
  max-width: 200px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Specific CSS for the Game Setup page */

.game-setup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e9e9eb;
}

.game-setup-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.game-setup-container form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-setup-container .form-section {
  flex: 1;
  padding: 12px;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin: 10px;
  box-sizing: border-box;
}

.game-setup-container .form-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #07910b;
}

.game-setup-container .form-section label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
}

.game-setup-container .form-section select,
.game-setup-container .form-section input[type="text"],
.game-setup-container .form-section textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #fff;
  transition: border-bottom-color 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

.game-setup-container .form-section select:focus,
.game-setup-container .form-section input[type="text"]:focus,
.game-setup-container .form-section textarea:focus {
  border-bottom-color: #55c57a; /* Green color for valid input */
  outline: none;
}

.game-setup-container .form-section select:focus:invalid,
.game-setup-container .form-section input[type="text"]:focus:invalid,
.game-setup-container .form-section textarea:focus:invalid,
.game-setup-container .form-section select.invalid,
.game-setup-container .form-section input[type="text"].invalid,
.game-setup-container .form-section textarea.invalid {
  border-bottom-color: #ff7730; /* Orange color for invalid input */
  outline: none;
}

.game-setup-container .players-list {
  height: 250px;
  overflow-y: auto;
  margin-top: 10px;
}

.game-setup-container .player-setup-item {
  /* Remove the flexbox display and margin-bottom */
  /* Adjust the margin-top to create space between players */
  margin-top: 10px;
}

/* Adjusted styles for player selection */
.game-setup-container .player-setup-item label {
  /* Remove the flex-basis and margin-right to eliminate the label */
  display: none; /* Hide the label */
}

.game-setup-container .player-setup-item select {
  flex: 1; /* Expand the width of the select element to fill the entire space */
  padding: 8px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #fff;
  transition: border-bottom-color 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

.game-setup-container .player-setup-item select:focus {
  border-bottom-color: #55c57a; /* Green color for valid input */
  outline: none;
}

.game-setup-container .player-setup-item select:focus:invalid,
.game-setup-container .player-setup-item select.invalid {
  border-bottom-color: #ff7730; /* Orange color for invalid input */
  outline: none;
}

/* Remove the selected-player-container styles, which were showing the top box */
.game-setup-container .selected-player-container {
  display: none;
}

/* Adjusted styles for player position display */
.game-setup-container .selected-player-position {
  display: block; /* Display the player position in a block to occupy a new line */
  margin-bottom: 5px;
  font-weight: 700;
  color: black; /* Green text color for the player position */
}

/* Adjusted styles for player selection display */
.game-setup-container .selected-player-name {
  display: block; /* Display the selected player's name in a block to occupy a new line */
  padding: 8px 12px;
  border: 1px solid #07910b; /* Green border for the selected player's name */
  background-color: #fff; /* White background color for the selected player's name */
  color: #07910b; /* Green text color for the selected player's name */
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

.game-setup-container .selected-player-name:hover {
  background-color: #07910b; /* Green background color on hover */
  color: #fff; /* White text color on hover */
}

.game-setup-container .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px; /* Add some margin at the bottom */
}

/* Adjusted styles for the Save Game Setup button */
.game-setup-container button.save-button {
  background-color: #07910b;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.game-setup-container button.save-button:hover {
  background-color: black;
}

/* Specific CSS for the Record Game page */
#record-game-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e9e9eb;
  padding: 20px;
  box-sizing: border-box;
}

#record-game-container {
  max-width: 100%;
  width: 800px; /* You can adjust this width as needed */
  margin-left: 200px;
}

#record-game-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

#record-game-setup-container {
  max-height: 500px; /* Set the desired height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #f9f9f9; /* Add background color for the container */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add border for visual separation */
  border-radius: 8px; /* Add border radius for rounded corners */
}

/* Game setup cards */
.game-setup-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 400px; /* Adjust width as needed */
  position: relative; /* Set the game setup card as a positioning context */
  margin-bottom: 10px;
}

.game-setup-card:hover {
  background-color: #e0e0e0;
}

.game-setup-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #010502;
}

.game-setup-card p {
  font-size: 16px;
  color: #000;
}

/* Improved button styles */
.view-players-btn,
.delete-btn,
.record-stats-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px;
}

.view-players-btn {
  background-color: #07910b;
  color: #fff;
}

.delete-btn {
  background-color: #e1192d;
  color: #fff;
}

.record-stats-btn {
  background-color: #07910b;
  color: #fff;
  margin-left: 10px; /* Add margin to create space between delete and record-stats buttons */
}

.view-players-btn:hover,
.delete-btn:hover,
.record-stats-btn:hover {
  background-color: #060606;
}

.button-space {
  margin: 0 6px; /* Adjust the margin value to control the space */
}

/* Create New Game Setup button */
.create-setup-button {
  display: block;
  width: 200px;
  padding: 12px 20px;
  background-color: #07910b;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.create-setup-button:hover {
  background-color: black;
}
/* Hidden player list styles */
.player-list {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 0; /* Position the player list at the top of the game setup card */
  left: calc(
    100% + 10px
  ); /* Position the player list to the right of the game setup card */
  width: 300px; /* Adjust the width of the player list as needed */
}

.player-list ul {
  list-style-type: none;
  padding: 0;
}

.player-list li {
  margin-bottom: 5px;
}

/* Show the player list when it's not hidden */
.player-list:not(.hidden) {
  display: block;
}

/* Specific CSS for the RecordStats page */
#record-stats-page {
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set minimum height to full viewport height */
}

.record-stat-btn {
  background-color: #e83c11;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px 10px; /* Add space between buttons vertically */
  cursor: pointer;
  transition: background-color 0.3s;
  background-size: 15px 15px;
}

.record-stat-btn:hover {
  background-color: #b30502;
}

/* Style for the "Back to Record Games" button */
.back-to-record-games-btn {
  display: block;
  margin: 140px auto; /* Center the button horizontally with top and bottom margin */
  padding: 10px 20px;
  background-color: #07910b; /* Blue background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove underline */
}

.back-to-record-games-btn:hover {
  background-color: #060606;
  color: #07910b;
}

#record-stats-heading {
  margin-top: 200px; /* Add some top margin for the heading */
}

#timer-section {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Add some top margin for the timer */
  margin-bottom: 25px;
}

/* Style the timer display */
#timer {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
}

#start-timer-btn,
#pause-timer-btn,
#reset-timer-btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#start-timer-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
}

#pause-timer-btn {
  background-color: #e95625;
  color: #000;
  border: none;
}

#reset-timer-btn {
  background-color: #ffc107;
  color: #000;
  border: none;
}

#half-duration-dropdown {
  padding: 8px;
  font-size: 16px;
}

#timer-container {
  font-size: 30px;
  font-weight: bold;
}

/* Timer formatting */
#timer {
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

@media (max-width: 1440px) {
  /* CSS rules for MacBook Air screens */
  html,
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #image {
    position: absolute;
    top: calc(70% - 120px);
    right: 8%;
    transform: translateY(-50%) rotate(20deg); /* Adjust the rotation angle as needed */
    z-index: 999;
  }

  #image img {
    height: 450px;
    filter: drop-shadow(-100px 0px 5px rgba(0, 0, 0, 0.5));
    transition: 0.5s;
  }

  #image img:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  }

  #container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #e9e9eb;
  }

  #content h2 {
    font-size: 220px;
    color: #07910b;
    border-color: #000;
  }

  #content h4 {
    font-size: 50px;
    color: #000;
  }

  #line1,
  #line2 {
    height: 100px;
    width: 60px;
  }

  #line2 {
    height: 40px;
    left: 26%;
  }

  #content h1 {
    font-size: 35px;
  }

  #navbar ul li {
    font-size: 18px;
    margin: 0 25px;
  }
  #navbar ul #signup {
    right: 14%;
  }

  #dashboard-container {
    margin-left: 20%; /* Center the container on iPad mini screens */
  }
  /* Styles for the dashboard boxes */
  .dashboard-box {
    padding: 50px;
  }

  .dashboard-box a {
    font-size: 25px;
  }
  .signup-form {
    max-width: 350px;
    padding: 14px;
  }
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    font-size: 14px;
    padding: 6px;
  }

  #squad-container {
    max-width: 800px;
    margin: 100px auto 0; /* Updated: Added 100px top margin to move it down */
    padding: 20px;
  }
  /* createSquad specific styles */
  #create-squad-container {
    margin-top: 150px;
  }
  /* viewPlayers page specific styles */
  #players-container {
    margin-top: 130px;
  }
  /* Specific CSS for the addPlayerProfile Pug file */
  #add-player-profile-container {
    margin-top: 130px;
  }
  .game-setup-container .team-section,
  .game-setup-container .player-section {
    margin-top: 160px;
    margin-left: 100px;
  }

  .container.game-setup-container {
    margin-left: 350px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1180px) {
  /* Your CSS rules for iPad screens */

  html,
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #image {
    position: absolute;
    top: calc(55% - 20px);
    right: 9%;
    transform: translateY(-50%) rotate(20deg); /* Adjust the rotation angle as needed */
    z-index: 999;
  }

  #image img {
    height: 430px;
    filter: drop-shadow(-100px 0px 5px rgba(0, 0, 0, 0.5));
    transition: 0.5s;
  }
  #navbar ul li {
    font-size: 16px;
    margin: 0 17px;
  }

  #navbar ul #signup {
    right: 15%;
  }

  #content h2 {
    font-size: 185px;
    color: #07910b;
    border-color: #000;
  }

  #content h4 {
    font-size: 45px;
    color: #000;
  }

  #content h1 {
    font-size: 35px;
  }
  #line1,
  #line2 {
    height: 100px;
    width: 60px;
  }

  #line2 {
    height: 40px;
    left: 26%;
  }
  #dashboard-container {
    margin-left: 20%; /* Center the container on iPad mini screens */
  }
  /* Styles for the dashboard boxes */
  .dashboard-box {
    padding: 40px;
  }

  .dashboard-box a {
    font-size: 23px;
  }
  .signup-form {
    max-width: 350px;
    padding: 20px;
  }
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    font-size: 14px;
    padding: 6px;
  }
  #squad-container {
    max-width: 800px;
    margin: 100px auto 0; /* Updated: Added 100px top margin to move it down */
    padding: 20px;
  }
  .squad-card {
    padding: 18px;
  }
  /* viewPlayers page specific styles */
  #players-container {
    margin-top: 120px;
  }
  .container.game-setup-container {
    margin-left: 190px;
  }
}

@media (max-width: 1024px) {
  /* Your CSS rules for iPad mini screens */
  html,
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #image {
    position: absolute;
    top: calc(55% - 20px);
    right: 7%;
    transform: translateY(-50%) rotate(20deg); /* Adjust the rotation angle as needed */
    z-index: 999;
  }

  #image img {
    height: 390px;
    filter: drop-shadow(-100px 0px 5px rgba(0, 0, 0, 0.5));
    transition: 0.5s;
  }
  #navbar ul li {
    font-size: 14px;
    margin: 0 15px;
  }

  #navbar ul #signup {
    right: 16%;
  }

  #content h2 {
    font-size: 165px;
    color: #07910b;
    border-color: #000;
  }

  #content h4 {
    font-size: 40px;
    color: #000;
  }
  #line1,
  #line2 {
    height: 70px;
    width: 60px;
  }

  #line2 {
    height: 25px;
    left: 26%;
  }

  /* pagination */
  #pagination {
    position: absolute;
    bottom: 1%;
  }
  #content h1 {
    font-size: 30px;
  }

  #dashboard-container {
    margin-left: 20%; /* Center the container on iPad mini screens */
  }
  /* Styles for the dashboard boxes */
  .dashboard-box {
    padding: 30px;
  }

  .dashboard-box a {
    font-size: 22px;
  }
  .signup-form {
    max-width: 280px;
    padding: 15px;
  }
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    font-size: 12px;
    padding: 4px;
  }
  #squad-container {
    max-width: 800px;
    margin: 100px auto 0; /* Updated: Added 100px top margin to move it down */
    padding: 16px;
  }
  .squad-card {
    padding: 16px;
  }
  /* viewPlayers page specific styles */
  #players-container {
    margin-top: 110px;
  }
  .container.game-setup-container {
    margin-right: 150px;
  }
}
